/* ==============
    Main Styling 
=================*/


body {
  margin: 0;
  padding: 0;
  font-family:  "pokemon-font", monospace;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}


:root {
  background-color: #FE0065;
}

.title {

}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FE0065;
  /* box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22); */
}

.abilities {
  display: flex;
  justify-content: left;
  align-items: left;
}

.abilities p {
  display: flex;
  justify-content: left;
  align-items: left;
}


.Moves {
  display: flex;
}

.Moves p {
  display: flex;
}

/* =====================
    Search Elements
========================*/

.App .search {
  height: 38px;
  padding: 20px;
  width: 100%;
  background-color: #BFF9FF;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}

.App .search
ul li {
list-style: none;
padding: 25px;
margin: 0;
cursor: pointer;
background-color: #BFF9FF;
}

.App .search 
input {
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 100%;
  margin-bottom: 25px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
  background-color: #BFF9FF;
}

.App .search 
ul li:hover {
color: white;
}

.App .result {
  background-color: #BFF9FF;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
}

.App .search 
ul li:nth-child(odd) {
  background-color: #BFF9FF;}

/* ======================
Media Queries
========================*/
