/* ==============
    Main Styling 
=================*/


body {
  margin: 0;
  padding: 20px;
  font-family:  "pokemon-font", monospace;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}


:root {
  background-color: #FE0065;
}

.title {
  text-align: center;
  display: center;
  font-size: 3.8em;
  color: rgb(241, 19, 108);
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FE0065;
  /* box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22); */
}


.abilities {
  text-align: center;
  color: rgb(241, 19, 108);
}

.abilities li p {
  display: flex;
  justify-content: auto;
  align-items: auto;
}

.info {
  color: #BFF9FF;
  font-size: 1.3em;
}

.Moves {
  text-align: center;
  color: rgb(241, 19, 108);
  font-size: 1.5rem;
}

.Moves li {
  text-align: center;
}

.Stats {
  color: rgb(241, 19, 108);
  text-align: center;
}

.Stats li {
  text-align: center;
}

.Pokemon {
  color: rgb(241, 19, 108);
  text-align: center;
}

.Sprites {
  text-align: center;
}

/* =====================
    Search Elements
========================*/

.App .search {
  display: center;
  height: 38px;
  padding: 20px;
  width: 100%;
  background-color: #BFF9FF;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}

.App .search
ul li {
list-style: none;
padding: 25px;
margin: 0;
cursor: pointer;
background-color: #BFF9FF;
}

.search input {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 100%;
  margin-bottom: 25px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
  /* background-color: #BFF9FF; */
}

.App .search 
ul li:hover {
color: white;
}

.result {
  text-align: justify;
  background-color: #BFF9FF;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
}

.App .search 
ul li:nth-child(odd) {
  background-color: #BFF9FF;
}

/* ======================
Media Queries
========================*/

@media (min-width: 1000px) {
  .App .search {
    display: center;
    height: 162px;
    padding: 20px;
    width: 100%;
    background-color: #BFF9FF;
    box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
  }

  .info {
    color: rgb(241, 19, 108);
    font-size: 1.3em;
  }
  
  .abilities {
    font-size: 80px;
    margin: auto;
  }
  
  .abilities li p {
    font-size: 60px;
    margin: auto;
  }
  
  .Moves {
    font-size: 80px;
    margin: auto;
  }
  
  .Moves li {
    font-size: 60px;
    margin: auto;
  }

  .Stats {
    font-size: 80px;
    margin: auto;
  }
  
  .Stats li {
    font-size: 60px;
    margin: auto;
  }

}

@media (max-width: 800px) {
  body {
    padding: 10px;
  }

  .info {
    color: rgb(241, 19, 108);
    font-size: 1.3em;
  }
  
  .App .search {
    display: center;
    height: 282px;
    padding: 20px;
    width: 100%;
    background-color: #BFF9FF;
    box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
  }

  .abilities li p {
    padding-right: 20px;
    text-align: left;
    font-size: 2rem;
    margin: auto;
  }

}
